{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}
    <h1>A propos</h1>
    <p class="center big">
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Atque autem blanditiis dolores impedit odit rem, tempore!
        Alias beatae cupiditate deleniti deserunt dolorum eius
        error id ipsa maiores nulla, sapiente temporibus.
    </p>
{% endblock %}