{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}
    <h1>A propos</h1>
    <p class="center big">
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Atque autem blanditiis dolores impedit odit rem, tempore!
        Alias beatae cupiditate deleniti deserunt dolorum eius
        error id ipsa maiores nulla, sapiente temporibus.
    </p>
    <p class="center big">
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        At aut, consequatur deserunt eius
        eveniet incidunt ipsam laboriosam minima
        modi molestiae nam pariatur possimus quisquam
        quos sapiente tempora voluptas! Aliquid, distinctio.
    </p>
    <p class="center big">
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Aspernatur beatae culpa esse id
        laboriosam magni molestiae nemo nesciunt,
        odit quis reiciendis repudiandae ut. Ipsa, odio.
    </p>
    <p class="center big">
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Accusamus consequatur dolorum in
        laborum mollitia nihil omnis quas voluptas.
        A cupiditate molestiae molestias obcaecati,
        officia possimus quo ut voluptatem.
    </p>
{% endblock %}