{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <div class="container">

        <img class="gif" src="{{ asset('assets/img/desert.gif') }}" alt="">
        <img id="bucket" class="gif" src="{{ asset('assets/img/bucket.gif') }}" alt="">

    </div>
{% endblock %}