{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
    <h1>Liste</h1>
    <div class="content">
        {% for wish in wishes %}
        <div class="wish">
            <div class="big">
                <p>Le souhait est : </p>
                <p class="color">{{ wish.title }}</p>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-success big" href="{{ path('wish_detail',{'id':wish.id}) }}">Consulter</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}